/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";
#wrapper {
  width: 100%
}

.login-register {
  background: url(../images/login-register.jpg) center center/cover
  no-repeat !important;
  height: 100%;
  position: fixed
}

.login-box {
  background: #fff;
  width: 400px;
  margin: 10% auto 0
}

.login-sidebar {
  position: absolute;
  right: 0;
  margin-top: 0;
  height: 100%
}

.white-box {
  background: #fff;
  padding: 25px;
  margin-bottom: 30px
}

.form-group, .form-horizontal .form-group {
  margin-bottom: 25px
}

.form-material .form-group {
  overflow: hidden
}

.form-material .form-control {
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom, center calc(99%);
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 1px;
  padding: 0;
  transition: background 0s ease-out 0s
}

.form-material .form-control, .form-material .form-control.focus,
.form-material .form-control:focus {
  background-image: linear-gradient(#707cd2, #707cd2),
  linear-gradient(rgba(120, 130, 140, .13), rgba(120, 130, 140, .13));
  border: 0;
  border-radius: 0;
  box-shadow: none;
  float: none
}

.form-material .form-control.focus, .form-material .form-control:focus {
  background-size: 100% 2px, 100% 1px;
  outline: 0;
  transition-duration: .3s
}

.m-t-40 {
  margin-top: 40px !important
}
.m-t-20 {
  margin-top: 20px !important
}

@media ( max-width :1023px) {
  .b-r-none {
    border-right: 0
  }
  .carousel-inner h3 {
    height: 90px;
    overflow: hidden
  }
  .inbox-center a {
    width: 300px
  }
  .new-login-register .lg-info-panel {
    display: none
  }
  .new-login-register .new-login-box {
    margin: 10% auto 0
  }
  .col-in {
    padding: 15px 0
  }
  .col-in li.col-middle {
    width: 100%
  }
}

@media ( max-width :767px) {
  .navbar-top-links {
    float: left
  }
  .navbar-top-links .profile-pic img {
    margin-right: 0
  }
  .top-left-part {
    width: 60px
  }
  .navbar-top-links>li:last-child {
    margin-right: 0
  }
  .navbar-top-links>li>a {
    padding: 0 12px
  }
  .navbar-top-links .dropdown-alerts, .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks {
    width: 260px
  }
  .show-sidebar .sidebar {
    width: 240px;
    top: 0
  }
  .show-sidebar .sidebar .hide-menu {
    display: inline
  }
  .show-sidebar .sidebar .nav-small-cap {
    display: block
  }
  .show-sidebar .sidebar .sidebar-head {
    width: 240px;
    display: block
  }
  .sidebar {
    z-index: 1001;
    position: fixed;
    width: 0;
    padding-top: 0;
    height: 100%
  }
  .sidebar-head {
    width: 0;
    display: none
  }
  #page-wrapper {
    margin: 0
  }
  .row-in-br {
    border-right: 0;
    border-bottom: 1px solid rgba(120, 130, 140, .13)
  }
  .bg-title .breadcrumb {
    float: left;
    margin-top: 0;
    margin-bottom: 10px
  }
  ul.timeline:before {
    left: 40px
  }
  ul.timeline>li>.timeline-panel {
    width: calc(100% - 90px)
  }
  ul.timeline>li>.timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0
  }
  ul.timeline>li>.timeline-panel {
    float: right
  }
  ul.timeline>li>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0
  }
  ul.timeline>li>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0
  }
  .wizard-steps>li {
    display: block
  }
  .dropdown .dropdown-tasks, .dropdown .mailbox {
    left: -94px
  }
  .fix-header .navbar-static-top {
    position: fixed;
    top: 0;
    width: 100%
  }
  .fix-header #page-wrapper {
    margin-top: 60px
  }
  .mega-dropdown-menu {
    height: 340px;
    overflow: auto
  }
  .left-aside {
    position: relative;
    width: 100%;
    border: 0
  }
  .right-aside {
    margin-left: 0
  }
  .chat-main-box .chat-left-aside {
    left: -250px;
    transition: .5s ease-in;
    background: #fff
  }
  .chat-main-box .chat-left-aside.open-pnl {
    left: 0
  }
  .chat-main-box .chat-left-aside .open-panel {
    display: block
  }
  .chat-main-box .chat-right-aside {
    margin: 0
  }
  .table-responsive.pro-rd {
    border: none
  }
  #msform fieldset, .login-register, .step-register {
    position: relative
  }
  .mega-dropdown-menu {
    padding-left: 20px
  }
  .calendar-widget .cal-left {
    position: relative;
    width: 100%
  }
  .calendar-widget .cal-left .cal-btm-text {
    position: relative;
    bottom: 0;
    padding-top: 30px
  }
  .calendar-widget .cal-right {
    width: 100%
  }
  .calendar-widget .cal-right .cal-table td {
    padding: 15px 0
  }
  .calendar-widget .cal-right .cal-table td h1 {
    padding-left: 20px
  }
  .error-body h1 {
    font-size: 80px;
    line-height: 100px
  }
  .weather-with-bg .wt-top .wt-img h1 {
    font-size: 24px;
    line-height: 24px
  }
  .manage-table {
    margin: 0
  }
  .dp-table img {
    width: 50px
  }
  .earning-box li .er-row .er-text {
    width: 37%
  }
  .earning-box li .er-row .er-count {
    font-size: 24px
  }
  .sidebar .nav-second-level li a, .sidebar:hover .nav-second-level li a {
    padding-left: 40px
  }
  .sidebar .nav-third-level li a, .sidebar:hover .nav-third-level li a {
    padding-left: 60px
  }
}

@media ( max-width :480px) {
  .vtabs .tabs-vertical {
    width: auto
  }
  .stat-item {
    padding-right: 0
  }
  .login-box {
    width: 100%
  }
  .pro-content .pro-list-details {
    height: 100px;
    border-right: none
  }
  .pro-list-info ul.pro-info li {
    padding: 10px 0
  }
  .pro-list-info ul.pro-info {
    padding-left: 0
  }
  .pro-agent .agent-img {
    padding-top: 3px
  }
  .pro-agent .agent-name {
    padding: 2px 0 10px 15px
  }
  .new-login-register .lg-info-panel {
    display: none
  }
  .new-login-register .new-login-box {
    margin: 10% auto 0;
    width: 300px
  }
}
